name: Packer Build Run on Merging the pull request

on:
  pull_request:
    branches: ["main"]

jobs:
  packer-build:
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
      SOURCE_IMAGE_FAMILY: ${{ secrets.SOURCE_IMAGE_FAMILY }}
      SSH_USERNAME: ${{ secrets.SSH_USERNAME }}
      ZONE: ${{ secrets.ZONE }}
      IMAGE_NAME: ${{ secrets.IMAGE_NAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      CREDENTIALS: ${{ secrets.GCP_CREDENTIALS}}
      PUBSUB_TOPIC_ID: ${{ secrets.PUBSUB_TOPIC_ID }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configuring log
        run: |
          sudo mkdir -p /var/log/webapp
          sudo setfacl -d -m u:runner:rwx /var/log/webapp/
          sudo chmod -R u+w /var/log/webapp/

      - name: Create log file
        run: |
          sudo touch /var/log/webapp/application.log
          sudo chown runner:runner /var/log/webapp/application.log
          ls -l /var/log/webapp/application.log

      - name: Set up JRE for Java
        run: |
          sudo apt-get install -y openjdk-17-jre

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Start MySQL Server
        run: |
          sudo service mysql start

      - name: Package with Maven
        run: mvn clean install -DskipTests

      - name: Compile with Maven
        run: mvn compile

      - name: Run Spring Boot tests
        run: mvn test
        env:
          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/networkscsye6225?createDatabaseIfNotExist=true
          SPRING_DATASOURCE_USERNAME: ${{ secrets.MYSQL_USER }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
          SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: "3000"
          SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
          SPRING_JPA_HIBERNATE_DDL_AUTO: update
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
          SPRING_JPA_SHOW_SQL: "true"
          PUBSUB_TOPIC_ID: ${{ secrets.PUBSUB_TOPIC_ID }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}

      - name: Install zip
        run: sudo apt-get install -y zip

      - name: ZIP
        run: zip -j webapp-1.2.0-RELEASE.zip target/webapp-1.2.0-RELEASE.jar

      - name: Set up Packer
        uses: hashicorp/setup-packer@main

      - name: Set packer init
        working-directory: infrastucture/packer/
        run: packer init .


      - name: Packer fmt
        working-directory: infrastucture/packer/
        run: packer fmt -check .

      - name: Set packer validate
        run: packer validate -var="project_id=${PROJECT_ID}" -var="source_image_family=${SOURCE_IMAGE_FAMILY}" -var="ssh_username=${SSH_USERNAME}" -var="zone=${ZONE}" -var="image_name=${IMAGE_NAME}" -var="db_password=${DB_PASSWORD}" -var="db_username=${DB_USERNAME}" infrastucture/packer/packer.pkr.hcl

      - name: Run Packer build
        id: packer
        run: | 
          packer build -var="project_id=${{ secrets.PROJECT_ID }}" -var="source_image_family=${{ secrets.SOURCE_IMAGE_FAMILY }}" -var="ssh_username=${{ secrets.SSH_USERNAME }}" -var="zone=${{ secrets.ZONE }}" -var="image_name=${{ secrets.IMAGE_NAME }}" -var="db_password=${{ secrets.DB_PASSWORD }}" -var="db_username=${{ secrets.DB_USERNAME }}" infrastucture/packer/packer.pkr.hcl
          echo NEW_IMAGE=$(jq -r '.builds[-1].artifact_id' manifest.json | cut -d ":" -f2) >> $GITHUB_ENV
  


      - name: Create new Instance Template version
        env:
          VM_REGION: ${{ secrets.VM_REGION }}
          VM_MACHINE_TYPE: ${{ secrets.VM_MACHINE_TYPE }}
          VM_SERVICE_ACCOUNT_EMAIL: ${{ secrets.VM_SERVICE_ACCOUNT_EMAIL }}
          VM_SUBNETWORK: ${{ secrets.VM_SUBNETWORK }}
          VM_NETWORK_TIER: ${{ secrets.VM_NETWORK_TIER }}
          VM_HTTP_TARGET_TAGS: ${{ secrets.VM_HTTP_TARGET_TAGS }}
          VM_DB_NAME_SUFFIX: ${{ secrets.vm_db_name_suffix }}
          VM_DB_PASSWORD: ${{ secrets.vm_db_password }}
          VM_DB_NAME: ${{ secrets.vm_db_name }}
          VM_DB_URL: ${{ secrets.vm_db_url }}

        run: |
          gcloud compute instance-templates create new-template \
            --project=${{ env.PROJECT_ID }} \
            --instance-template-region=${{ env.VM_REGION }} \
            --machine-type=${{ env.VM_MACHINE_TYPE }} \
            --tags=${{ env.VM_HTTP_TARGET_TAGS }} \
            --service-account=${{ env.VM_SERVICE_ACCOUNT_EMAIL }} \
            --network-tier=${{ env.VM_NETWORK_TIER }} \
            --subnet=${{ env.VM_SUBNETWORK }} \
            --image=${{ env.NEW_IMAGE }} \
            --boot-disk-type=pd-standard \
            --metadata=startup-script='#!/bin/bash
              echo "Executing startup script..."
              db_name_suffix="${{ env.VM_DB_NAME_SUFFIX }}"
              db_password="${{ env.VM_DB_PASSWORD }}"
              db_name="${{ env.VM_DB_NAME }}"
              db_url="${{ env.VM_DB_URL }}"
              touch /opt/csye6225/application.properties
              # Write to application properties file
              echo "spring.datasource.url=jdbc:mysql://${db_url}/${db_name}" >> /opt/csye6225/application.properties
              echo "spring.datasource.username=${db_name_suffix}" >> /opt/csye6225/application.properties
              echo "spring.datasource.password=${db_password}" >> /opt/csye6225/application.properties
              echo "spring.datasource.hikari.connection-timeout=3000" >> /opt/csye6225/application.properties
              echo "spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect" >> /opt/csye6225/application.properties
              echo "spring.jpa.hibernate.ddl-auto=update" >> /opt/csye6225/application.properties
              echo "spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver" >> /opt/csye6225/application.properties
              echo "spring.jpa.show-sql=true" >> /opt/csye6225/application.properties
              echo "PUBSUB_TOPIC_ID=verify_email" >> /opt/csye6225/application.properties
              echo "PROJECT_ID=dev-gcp-415318" >> /opt/csye6225/application.properties
              echo "Startup script execution completed."'


      - name: Result Success Message
        if: success()
        run: echo "Successful CI"

      - name: Result Failure Message
        if: failure()
        run: echo "Build failed"

      - name: Show Build Status
        run: echo "Build Status:" ${{ job.status }}