name: Web App Tests on Github Action

on:
  pull_request:
    branches: ["main"]

jobs:
  java-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configuring log
        run: |
          sudo mkdir -p /var/log/webapp
          sudo setfacl -d -m u:runner:rwx /var/log/webapp/
          sudo chmod -R u+w /var/log/webapp/

      - name: Create log file
        run: |
          sudo touch /var/log/webapp/application.log
          sudo chown runner:runner /var/log/webapp/application.log
          ls -l /var/log/webapp/application.log

      - name: Start MySQL Server
        run: |
          sudo service mysql start

      - name: Set up JRE for Java
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jre

      - name: Build Dependency
        run: mvn -B clean package -DskipTests

#      - name: Run Spring Boot tests
#        run: mvn test
#        env:
#          SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/networkscsye6225?createDatabaseIfNotExist=true
#          SPRING_DATASOURCE_USERNAME: ${{ secrets.MYSQL_USER }}
#          SPRING_DATASOURCE_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
#          SPRING_DATASOURCE_HIKARI_CONNECTION_TIMEOUT: "3000"
#          SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
#          SPRING_JPA_HIBERNATE_DDL_AUTO: update
#          SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
#          SPRING_JPA_SHOW_SQL: "true"
#          PUBSUB_TOPIC_ID: ${{secrets.PUBSUB_TOPIC_ID}}
#          SECRET_KEY: ${{secrets.SECRET_KEY}}

      - name: Result Success Message
        if: success()
        run: echo "Successful CI"

      - name: Result Failure Message
        if: failure()
        run: echo "Build failed"

      - name: Show Build Status
        run: echo "Build Status:" ${{ job.status }}/